{% extends 'main/base.html' %}

{% block title %}Bread Blog{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h1>Хлебная</h1>
    <h3 class="grey">Хлеб и не только.</h3>
    <hr>

    <div class="payload text-center">
        <img src="{% static 'imgs/bread_main_page.png' %}" alt="Хлеб на главной" width="100%"/>
    </div>

    <p>
        Как и у всех “нормальных” людей, мое здоровье стройным шагом после 30 лет начало катиться по наклонной. В 35 лет
        у меня возникли первые проблемы с щитовидной железой. Начала набирать вес, терять волосы, изменился характер, но
        я не обращала на это внимание. До того момента, пока мне не стало совсем не по себе от сопутствующих проблем. В
        38 лет мне поставили диагноз гипотериоз, аутоимунный тиреоидит и целый ряд других женских недугов. Всё это
        произошло из-за стресса в результате ряда ситуаций, которые возникли в моей жизни. Тогда я была далека от
        биохимии, психосоматики и других направлений, которые помогли мне убрать эти диагнозы полностью. Тогда, посетив
        эндокринолога я узнала, что мои “болячки не лечатся”, что с этими диагнозами люди живут на синтетических
        гормонах и потом тихо умирают от сердечной недостаточности… Меня это не устроило.
    </p>
    <p>
        Я начала искать путь к исцелению, нашла толкового нутрициолога и с её помощью составила себе программу
        органических нутриентов, которые помогли мне без гормонов за год полностью восстановить показатели эндокринных
        гормонов и убрать антитела, таким образом устранив и гипотиреоз и АИТ. Параллельно я пошла учиться на
        нутрициолога и посвятила этому практически 2 года. Училась у профессора Дадали и параллельно брала
        индивидуальные занятия у биохимиков. Прошла обучение диетологии и позже, наблюдая на практике отсутствие
        результатов у некоторых моих подписчиков, начала изучать вопросы психосоматики. Это позволило усовершенствовать
        систему органического восстановления здоровья.
    </p>
</div>


{% endblock %}
