.grey {
    color: grey;
}

nav {
    padding: 1.5em 0;
}
nav>ul>li {
    display: inline-block;
}
nav>ul>li a:hover, .container a:hover {
    text-decoration: none;
    color: brown;
}
nav>ul>li:not(:last-child):after {
    content: " | ";
    display: inline-block;
    padding: 0 0.5em;
}

.summary {
    padding: 2em 0;

}
.summary:before {
}

.update_link {
    display: inline-block;
    padding-left: 2em;
}

.error {
    color: #c91717;
}